body,
html {
  height: 100%;
  margin: 0;
  /* border:dashed blue 2px; */
}

a {
  text-decoration: none;
}

header {
  height: 100vh;
  background-image: url("images/portrait.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  margin: 0px;
}

.social {
  padding-right: 25px;
}

.social-image {
  font-size: 1em;
  display: inline;
  color: #0f3d99;
}

.social-image:hover {
  color: #b8cdf7;
}

#socialGroup {
  margin-right: auto;
  margin-left: auto;
  margin-top: 1em;
}

#header-text {
  color: #0f3d99;
  text-align: right;
  font-size: 3em;
  width: 50vw;
  display: inline-block;
  padding-left: 50vw;
  text-align: center;
  padding-right: 7vw;
}

@media only screen and (max-width: 1300px) {
  .social {
    padding: 15px;
  }
  .social-image {
    font-size: 1.5em;
  }
  #header-text {
    font-size: 2em;
  }
}

@media only screen and (max-width: 900px) {
  .social {
    padding: 10px;
  }
  .social-image {
    font-size: 1.5em;
  }
  #header-text {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 700px) {
  header {
    background-image: url("images/portrait2.jpg");
  }
  #header-text {
    margin-top: 50px;
    margin-left: 30vw;
    padding-left: 10vw;
    padding-right: 15vw;
    padding-top: 15px;
    padding-bottom: 15px;
    display: inline-block;
    text-align: center;
    width: 50vw;
    font-size: 0.6em;
    background-color: white;
    color: #0f3d99;
    /* margin-top: 100px;
    padding: 20px;
    color: white;
    
    padding-right: 0px;
    background-color: #0f3d99; */
  }
  .social-image {
    font-size: 2em;
    /* color: white; */
  }
  #socialGroup {
    margin-right: auto;
    margin-left: auto;
    margin-top: 1.5em;
  }
}

@media only screen and (max-height:600px) {}